page-myprofile {
#profile-upload-button {
  position: absolute;
  left: 27%;
  top: 73%;
}

.profile-div {
	position: relative;
	background: #a3a3a3;
	height: 40%;
}

.profile-div img {
	border:1px solid #000;
	width: 38%;
	height: 80%;
	margin-top: 1%;
	margin-left: 3%;
}

#personal-button {
  position: absolute;
  width: 50%;
  right: 3%;
  top: 15%;
}

#payment-button {
  position: absolute;
  width: 50%;
  right: 3%;
  top: 40%;
}

.horizontal-item-view {
  height: 220px;
}
.inner {
  width: 425px;
  border-spacing: 10px;
  ion-card {
    display: table-cell;
    border: solid 1px #ccc;
    height: 120px;
  }
  ion-card img {
    width: 120px;
    height:120px;
  }
  ion-card ion-card-content {
    text-align: center;
  }
}
}
