page-bookinfo {
.card img {
    width: 255px;
    height: 330px;
    transform: translateX(25%);
  }
.card button {
    font-size: 20px;
    padding: 25px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
