<ion-view title="Page" hide-nav-bar="true" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 40px;"></div>
    <button id="page-button10" style="font-size:40px;" class="button button-dark button-block button-clear">E-library</button>
    <div class="spacer" style="height: 70px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="page-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
        <div id="page-button-bar2" class="button-bar"></div>
      </ion-slide-page>
      <ion-slide-page id="page-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 100px;"></div>
    <div id="page-button-bar1" class="button-bar">
      <button id="page-button4" class="button button-dark button-block button-outline">Log In</button>
      <button id="page-button6" class="button button-dark button-block button-outline">Register</button>
    </div>
  </ion-content>
</ion-view>